/* колір основного тексту color: #212121; */
/* вторичний колір color: #757575; */
/* акцент color: #FFFFFF */
/* heder 1)logo color: #2196F3(web),color: #000000(studio), */
/* 2)nav color: #212121(:hover,:focus #2196F3) 3)contact color: #757575(:hover, */
/* :focus #2196F3) */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-black-color: #000000;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f5f5;
  --fourth-background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* heder  */
.page-header {
  background-color: var(--white-color);
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .logo-studio {
  color: var(--logo-black-color);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}

/* footer */
.page-footer {
  background-color: var(--secondary-background-color);
}
.logo-footer .logo-white {
  color: var(--white-color);
}
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.page-adress {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
.site-contact .link-city {
  color: var(--white-color);
  font-weight: 400;
  line-height: 24px;
}
.link-city:hover,
.link-city:focus {
  color: var(--accent-color);
}
.site-contact .link-mail {
  color: rgba(255, 255, 255, 0.6);
}
.site-contact .link-tel {
  color: rgba(255, 255, 255, 0.6);
}
.link-mail:hover,
.link-mail:focus {
  color: var(--accent-color);
}
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}

/* main index.html*/

/* sec1 */

.hero {
  background-color: var(--secondary-background-color);
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* тут кнопка */
.hero .main-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero .main-button:hover,
.main-button:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}
.hero .main-button {
  cursor: pointer;
}
.company-section {
  background-color: var(--third-background-color);
}
/* Плюси команди */

.text-advanteges {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.7;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Наша команда */
.team-section {
  background-color: var(--fourth-background-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.text-profession {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* main portfolio.html*/
.page-main {
  background-color: var(--third-background-color);
}

/* кнопки */
.buton-list .button-name {
  color: var(--primary-text-color);
  background-color: var(--fourth-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.buton-list .button-name:hover,
.buton-list .button-name:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.buton-list .button-name {
  cursor: pointer;
}
.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
